img {
  height: 80vh;
  cursor: pointer;
  
}

div {
 width: auto;
 font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;

  height: 20vh;
}